[submodule ".registry"]
	path = .registry
	url = https://github.com/nsj3/universe
	branch = HEAD
[submodule "rioja"]
	path = rioja
	url = https://github.com/nsj3/rioja
[submodule "riojaPlot"]
	path = riojaPlot
	url = https://github.com/nsj3/riojaPlot
